# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000 # Exposed client-side variable

# Neon Postgres
NEON_POOLED_CONNECTION_STRING= # For runtime queries
NEON_DIRECT_CONNECTION_STRING= # For migrations

# Resend
RESEND_API_KEY=